<html>

<body>
    <!-- Only show this message if there are over 100 users. -->
    <% if (users.length> 100) { %>
        <h1>Wow, you have a lot of users!</h1>
        <% } %>
            <!-- Render all user names -->
            <!-- <ul>
      <% users.forEach((user) => { %>
        <li>Name: <%= user.name %></li>
        <p>Age: <%= user.age %></p>
      <% }); %>
    </ul> -->
            <ul>
                <% users.forEach((user)=> { %>
                    <%- include('user/details', {data: user}); %>
                        <% }); %>
            </ul>


            <form action="/hello">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Doe"><br><br>
                <input type="submit" value="Submit">
            </form>
</body>

</html>